In [48]:
import numpy as np
import pandas as pd
import math

In [113]:
df=pd.read_csv('Laundry_Data.csv')

# Data Cleaning

In [112]:
#df.info()
df

,No,Date,Time,Race,Gender,Body_Size,Age_Range,With_Kids,Kids_Category,Basket_Size,Basket_colour,Attire,Shirt_Colour,shirt_type,Pants_Colour,pants_type,Wash_Item,Washer_No,Dryer_No,Spectacles
0,1,19/10/2015,20:17:50,malay,Unknown,moderate,42.0,yes,young,big,red,casual,blue,short_sleeve,black,short,clothes,3,10,no
1,2,19/10/2015,20:28:42,indian,male,thin,32.0,no,no_kids,big,green,casual,Unknown,short_sleeve,blue_jeans,long,Unknown,6,9,no
2,3,19/10/2015,20:58:31,malay,female,Unknown,30.0,no,no_kids,big,blue,casual,red,short_sleeve,black,long,Unknown,4,10,no
3,4,19/10/2015,21:31:28,indian,male,thin,51.0,no,no_kids,Unknown,black,casual,Unknown,short_sleeve,yellow,short,clothes,5,9,no
4,5,19/10/2015,21:40:28,indian,male,moderate,34.0,no,no_kids,big,blue,casual,blue,short_sleeve,white,long,clothes,3,9,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,09/12/2015,20:05:46,malay,female,moderate,45.0,no,no_kids,small,white,casual,red,long sleeve,black,long,clothes,3,10,no
803,804,09/12/2015,20:33:01,malay,male,fat,34.0,no,no_kids,big,grey,casual,white,short_sleeve,black,long,blankets,3,7,no
804,805,09/12/2015,20:37:01,malay,female,moderate,53.0,no,no_kids,big,purple,traditional,pink,long sleeve,pink,long,clothes,3,7,yes
805,806,09/12/2015,20:42:57,indian,female,moderate,37.0,no,no_kids,big,green,traditional,brown,short_sleeve,black,long,clothes,6,10,no
806,807,09/12/2015,20:43:20,malay,male,moderate,29.0,no,no_kids,big,blue,casual,white,short_sleeve,black,Unknown,blankets,4,8,no

In [110]:
#age range clean(mean value)
df['Age_Range']=df['Age_Range'].fillna(df['Age_Range'].mean().round())

df["With_Kids"] = np.where(df["Kids_Category"]!='no_kids',df['With_Kids'],'no')
df["With_Kids"] = np.where(df["Kids_Category"]=='no_kids',df['With_Kids'],'yes')

df["Kids_Category"] = np.where(df["With_Kids"]=='yes',df['Kids_Category'],'no_kids')
df=df.fillna('Unknown')

In [108]:
len(df[df.isnull().any(axis=1)])/len(df)*100

60.84262701363073

In [107]:
df.isnull().sum()

No                0
Date              0
Time              0
Race             55
Gender           91
Body_Size        98
Age_Range         0
With_Kids         0
Kids_Category    30
Basket_Size      55
Basket_colour    90
Attire           31
Shirt_Colour     87
shirt_type       37
Pants_Colour      5
pants_type       95
Wash_Item        89
Washer_No         0
Dryer_No          0
Spectacles        0
dtype: int64

In [114]:
print('Race\n',df['Race'].value_counts())
print('Gender\n',df['Gender'].value_counts())
print('Body_Size\n',df['Body_Size'].value_counts())
print('With_Kids\n',df['With_Kids'].value_counts())
print('Kids_Category\n',df['Kids_Category'].value_counts())

Race
 indian        227
malay         222
chinese       221
foreigner      82
Name: Race, dtype: int64
Gender
 female    361
male      355
Name: Gender, dtype: int64
Body_Size
 fat         247
moderate    237
thin        225
Name: Body_Size, dtype: int64
With_Kids
 no     561
yes    164
Name: With_Kids, dtype: int64
Kids_Category
 no_kids     603
young        90
toddler      47
baby         36
toddler       1
Name: Kids_Category, dtype: int64