In [15]:
import numpy as np
import pandas as pd
import math
from apyori import apriori

In [62]:
df=pd.read_csv('Laundry_Data.csv')

# Data Cleaning

In [56]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807 entries, 0 to 806
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             807 non-null    int64
 1   Date           807 non-null    datetime64[ns]
 2   Time           807 non-null    object
 3   Race           752 non-null    object
 4   Gender         716 non-null    object
 5   Body_Size      709 non-null    object
 6   Age_Range      807 non-null    float64
 7   With_Kids      807 non-null    object
 8   Kids_Category  777 non-null    object
 9   Basket_Size    752 non-null    object
 10  Basket_colour  717 non-null    object
 11  Attire         776 non-null    object
 12  Shirt_Colour   720 non-null    object
 13  shirt_type     770 non-null    object
 14  Pants_Colour   802 non-null    object
 15  pants_type     712 non-null    object
 16  Wash_Item      718 non-null    object
 17  Washer_No      807 non-null    int64
 18  Dryer_No       807 non-null    int64
 19  Spectacles     807 non-null    object
 20  Day            807 non-null    int64
 21  Month          807 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 138.8+ KB

,No,Date,Time,Race,Gender,Body_Size,Age_Range,With_Kids,Kids_Category,Basket_Size,...,Shirt_Colour,shirt_type,Pants_Colour,pants_type,Wash_Item,Washer_No,Dryer_No,Spectacles,Day,Month
0,1,2015-10-19,20:17:50,malay,NaN,moderate,42.0,yes,young,big,...,blue,short_sleeve,black,short,clothes,3,10,no,19,10
1,2,2015-10-19,20:28:42,indian,male,thin,32.0,no,no_kids,big,...,NaN,short_sleeve,blue_jeans,long,NaN,6,9,no,19,10
2,3,2015-10-19,20:58:31,malay,female,NaN,30.0,no,no_kids,big,...,red,short_sleeve,black,long,NaN,4,10,no,19,10
3,4,2015-10-19,21:31:28,indian,male,thin,51.0,no,no_kids,NaN,...,NaN,short_sleeve,yellow,short,clothes,5,9,no,19,10
4,5,2015-10-19,21:40:28,indian,male,moderate,34.0,no,no_kids,big,...,blue,short_sleeve,white,long,clothes,3,9,no,19,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,2015-12-09,20:05:46,malay,female,moderate,45.0,no,no_kids,small,...,red,long sleeve,black,long,clothes,3,10,no,9,12
803,804,2015-12-09,20:33:01,malay,male,fat,34.0,no,no_kids,big,...,white,short_sleeve,black,long,blankets,3,7,no,9,12
804,805,2015-12-09,20:37:01,malay,female,moderate,53.0,no,no_kids,big,...,pink,long sleeve,pink,long,clothes,3,7,yes,9,12
805,806,2015-12-09,20:42:57,indian,female,moderate,37.0,no,no_kids,big,...,brown,short_sleeve,black,long,clothes,6,10,no,9,12
806,807,2015-12-09,20:43:20,malay,male,moderate,29.0,no,no_kids,big,...,white,short_sleeve,black,NaN,blankets,4,8,no,9,12

In [59]:
#age range clean(mean value)
def change_to_dateTime(df):
    datetimeCol=pd.to_datetime(df['Date'], infer_datetime_format=True)
    return df.assign(Date=datetimeCol)

def get_day_col(df):
    dayCol=pd.DatetimeIndex(df['Date']).day
    return df.assign(Day=dayCol)

def get_month_col(df):
    monthCol=pd.DatetimeIndex(df['Date']).month
    return df.assign(Month=monthCol)

def fill_age(df):
    age=df['Age_Range'].fillna(round(df['Age_Range'].mean()))
    return df.assign(Age_Range=age)

def fill_withKids_no(df):
    with_kids=np.where(df["Kids_Category"]!='no_kids',df['With_Kids'],'no')
    return df.assign(With_Kids=with_kids)

def fill_withKids_yes(df):
    with_kids=np.where(df["Kids_Category"]=='no_kids',df['With_Kids'],'yes')
    return df.assign(With_Kids=with_kids)

def clean_null_val(df):
    return df.fillna('Unknown')

In [60]:
df=(df.pipe(change_to_dateTime)
        .pipe(get_day_col)
        .pipe(get_month_col)
        .pipe(fill_age)
        .pipe(fill_withKids_no)
        .pipe(fill_withKids_yes)
        .pipe(clean_null_val))

In [61]:
len(df[df.isnull().any(axis=1)])/len(df)*100

0.0

In [57]:
df.isnull().sum()

No                0
Date              0
Time              0
Race             55
Gender           91
Body_Size        98
Age_Range         0
With_Kids         0
Kids_Category    30
Basket_Size      55
Basket_colour    90
Attire           31
Shirt_Colour     87
shirt_type       37
Pants_Colour      5
pants_type       95
Wash_Item        89
Washer_No         0
Dryer_No          0
Spectacles        0
Day               0
Month             0
dtype: int64

In [23]:
print('Race\n',df['Race'].value_counts())
print('Gender\n',df['Gender'].value_counts())
print('Body_Size\n',df['Body_Size'].value_counts())
print('With_Kids\n',df['With_Kids'].value_counts())
print('Kids_Category\n',df['Kids_Category'].value_counts())
print('Attire\n',df['Attire'].value_counts())

Race
 indian        227
malay         222
chinese       221
foreigner      82
Name: Race, dtype: int64
Gender
 female    361
male      355
Name: Gender, dtype: int64
Body_Size
 fat         247
moderate    237
thin        225
Name: Body_Size, dtype: int64
With_Kids
 no     603
yes    204
Name: With_Kids, dtype: int64
Kids_Category
 no_kids     603
young        90
toddler      47
baby         36
toddler       1
Name: Kids_Category, dtype: int64
Attire
 casual         614
formal         101
traditional     61
Name: Attire, dtype: int64

# ARM

In [ ]:
records = []
for i in range(0, len(df)):
    records.append([str(store_data.values[i,j]) for j in range(0, len)])